* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 

    /* dark green #4d5450, dark yellow #d9b34e, orange #d79778, light #fcf7f3 */
  }
/* Menu container */
  .menu-container {
    color: #2a302d;
    background-color: #fcf7f3;  
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  
  .menu {
   /*  border: 1px solid #fff;  /* For debugging */ 
  
    width: 900px;
    display: flex;
    justify-content: space-between;
    
  }


  .links {
   /*  border: 1px solid #fff;  /* For debugging */ 
    display: flex;
    justify-content: flex-end;
  }
  
  .login {
    margin-left: 20px;
  }

  .signup {
    margin-left: auto;
  }


/* Header with the logo */
  .header-container {
    color: #2a302d;
    background-color: #d9b34e;
    display: flex;
    justify-content: center;
  }
  
  .header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    /* align-items: stretch; */
    align-items: center;
  }

/* .social,
.logo,
.subscribe {
  border: 1px solid #5995DA;
} */

.social,
.subscribe {
  align-self: flex-end;
  margin-bottom: 20px;
}

/* Body content */
.photo-grid-container {
    display: flex;
    justify-content: center;
  }
  
  .photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */
  }
  
  .photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
    flex-direction: row;
    align-items: center;
  }

  .first-item {
    order: 1;
  }
  
  .last-item {
    order: -1;
  }


/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
  }

  .footer-three {
    flex: 2;
  }

  .footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}